header {
  font-family: "Fira Sans", sans-serif;
  font-size: 58px;
  display: block;
  color: #ff4f00;
  flex-direction: column;
  padding: 40px 2px 2px 0px;
  margin: 40px 0px 2px 0px;
}
p {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  display: flex;
  color: #323438;
  flex-direction: column;
  margin-left: 12px;
}
body {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

/* Navbar section */
.navbar {
  background-color: #a8a5aa;
  /* font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column; */
  overflow: hidden;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

#topnav {
  background-color: #a8a5aa;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}
.burger-menu {
  float: left;
  position: relative;
  padding: 14px 16px 14px 16px;
}

.navbar .burger-menu {
  display: none;
}
.burger-menu:hover {
  color: #4c4b4c;
  transition: 0.7s ease;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #4c4b4c;
  transition: 0.7s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a8a5aa;
  font-family: "Fira Sans", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid #e7e7e7;
}

li {
  /* float: right; */
  display: inline;
  color: white;
  text-align: center;
  /* padding: 2% 2%; /* Add max and min value */
  /* text-decoration: none; */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #4c4b4c;
  transition: 0.7s ease;
}

/* End Navbar section */

/* Content will be separated into three sections (put into containers) */
.headerContainer {
  padding: 0px 0% 0% 0%;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.container {
  padding: 0px 0% 0% 0%;
  display: flex;
  flex-direction: column;
  background-color: #fff4f0;
}

h2 {
  width: 100%;
  height: 30px;
  padding: 10px 2px 2px 10px;
  margin: 10px 0px 2px 0px;
  /* background-color: #; */
  color: #ff4f00;
  /* display: flex; */
  flex-direction: column;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
/* Image carousel */
.carouselContainer {
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#slides {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}
/*
img {
  width: 100%;
} */

.slide {
  font-size: 10px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.numbertext {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  display: flex;
  color: #323438;
}

/* button effects */
.controls {
  position: absolute;
  top: 50%;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 5;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pause:hover,
#previous:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#next {
  right: 20px;
}
#previous {
  left: 20px;
}

#pause {
  left: 50%;
  width: 55px;
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
}

/* Image Carousel end  */

/* footer */
footer {
  display: block;
}
footer a:hover {
  color: #ff4f00;
  transition: 0.7s ease;
}
#footer {
  display: block;
  background-color: #a8a5aa;
  font-size: 18px; /* how do i change font-size: of p in just the footer? */
  width: 100%;
  text-align: center;
  color: white;
}
.footerIcons {
  height: 60px;
  display: inline;
  padding: 20px;
}
.footerIcons a:hover {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  color: #4c4b4c;
  transition: 0.7s ease;
}
/*  end of footer */

/* Media section - making things more flexible */

/* Navbar flexibility */
/* When the screen is less than 700 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 700px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.burger-menu {
    float: right;
    display: block;
  }
  img {
    height: 100px;
  }
  .carouselContainer {
    position: absolute;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .burger-menu {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Navbar end */

@media screen and (max-width: 375px) {
  p {
    font-size: 12px;
  }
  li {
    font-size: 14px;
  }
  header {
    font-size: 40px;
    display: flex;
  }
  h2 {
    font-size: 18px;
  }
  img {
    height: 100px;
  }
}
